<!--<h2>{{ description.item_id }} Details</h2>-->

<div>
    <div>
        <span >description: </span><h1 style="line-height:200px">{{description.content}}</h1>
    </div>
    <!--<span>token: </span>{{token.token_text}}-->
    <mat-form-field>
        <mat-select style="font-size:32px" class="absolute" [(ngModel)]="selected_item">
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

