<!--<h2>{{ description.item_id }} Details</h2>-->

<div>
    <div #tref>
        <span >description: </span>
        <h1 style="line-height:120px; float:left; padding-left:10px;" *ngFor="let seg of segs" [ngClass]="{'highlightText': seg.highlight>0}">
            {{seg.seg_text}}
        </h1>
    </div>
    <!--<span>token: </span>{{token.token_text}}-->
    <mat-form-field style="padding-left:32px; padding-top:24px;">
        <mat-select style="font-size:32px" class="absolute" [(ngModel)]="selected_item">
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

