<!--<h2>{{ description.item_id }} Details</h2>-->

<div>
    <div #tref>
        <span >description: </span>
        <h1 #seg_dom style="line-height:32px; float:left; padding-left:10px;" *ngFor="let token_seg of token_segs" [ngClass]="{'highlightText': token_seg.token_labels.length>0}">
            {{token_seg.token_text}}
        </h1>
    </div>
    <!--<span>token: </span>{{token.token_text}}-->


</div>

<ul *ngFor="let displayToken of displayTokens">
    <app-token [displayToken]="displayToken"></app-token>
</ul>


